@model Info.general.rol_empleado_x_correo_x_periodo_Info

@{
    ViewBag.Title = "Index";
}


<div class="templateTitle">
    <h3>Notificar evaluación</h3>
</div>

@Html.Action("EnviarCorreoPartial")
