
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Evaluación de personal</title>
    <link href="~/Content/css/style_resolver_evaluacion.css" rel="stylesheet" />
    <link rel="icon" type="image/png" href="~/Content/Imagenes/logo.png" />
</head>
<body class="tipografia-letra-varela tipografia-color-azul tipografia-tamanio-mediano">
    <img src="~/Content/Images/fondo.png" id="bg" alt="">
    <div class="wrapper-resolucion">
        <div class="titulos-centrados">
            <img src="~/Content/Imagenes/logo_naturissimo.png" alt="Image" style="max-width:100%; text-align:center" />
        </div>
        <p class="titulos-centrados">

            <strong>@ViewBag.mensaje</strong>

        </p>
    </div>
</body>
</html>
