@model Info.general.enc_formulario_pregunta_Info

@{
    ViewBag.Title = "Nuevo";
}

@if (ViewBag.mensaje != null)
{
    <h2>@ViewBag.mensaje</h2>
}

@using (Html.BeginForm("Nuevo", "Formulario_pregunta", FormMethod.Post))
{
    @Html.HiddenFor(q=>q.IdFormulario)
    <div style="padding-top:30px">
        @Html.DevExpress().FormLayout(settings =>
   {
       settings.Name = "formLayout";
       settings.EncodeHtml = false;
       settings.UseDefaultPaddings = true;
       settings.Width = Unit.Percentage(100);

       var groupItem = settings.Items.AddGroupItem(i =>
       {
           i.Caption = "Nueva pregunta";
           i.SettingsItemHelpTexts.Position = HelpTextPosition.Bottom;
       });
       groupItem.Items.Add(m => m.IdFormulario, i =>
       {
           i.NestedExtension().ComboBox(s =>
           {
               s.Width = Unit.Percentage(100);
               s.Properties.DataSource = ViewBag.lst_formulario;
               s.Properties.TextField = "ef_descripcion";
               s.Properties.ValueField = "IdFormulario";
               s.Properties.Columns.Add("ef_descripcion", "Pregunta");
               s.ReadOnly = true;
           });
       });
       groupItem.Items.Add(m => m.ep_descripcion, i =>
       {
           i.NestedExtension().TextBox(s => s.Width = Unit.Percentage(100));
       });
       groupItem.Items.Add(m => m.ep_ponderacion, i =>
       {
           i.NestedExtension().TextBox(s => s.Width = Unit.Percentage(100));
       });
       groupItem.GroupBoxDecoration = GroupBoxDecoration.Box;
       groupItem.ShowCaption = DefaultBoolean.True;
       groupItem.SettingsItems.ShowCaption = DefaultBoolean.True;
       groupItem.SettingsItemCaptions.Location = LayoutItemCaptionLocation.Top;
       groupItem.SettingsItemCaptions.HorizontalAlign = FormLayoutHorizontalAlign.Left;
       groupItem.SettingsItemCaptions.VerticalAlign = FormLayoutVerticalAlign.Top;

       groupItem.Items.Add(i =>
       {
           i.Caption = "";
           i.Paddings.PaddingTop = 24;
           i.SetNestedContent(() =>
           {
               Html.DevExpress().Button(b =>
               {
                   b.Name = "UpdateBtn";
                   b.Text = "Guardar";
                   b.ControlStyle.CssClass = "editFormButton";
                   b.UseSubmitBehavior = true;
               }).Render();
               Html.DevExpress().Button(b =>
               {
                   b.Name = "CancelBtn";
                   b.Text = "Cancelar";
                   b.Style.Add("margin-left", "4px");
                   b.ControlStyle.CssClass = "editFormButton";
                   b.ClientSideEvents.Click = "function(s, e){ document.location='" + DevExpressHelper.GetUrl(new { Controller = "Formulario_pregunta", Action = "Index", IdFormulario = Model.IdFormulario }) + "'; }";
               }).Render();
           });
       });
   }).GetHtml()
    </div>
}